<img src="assets/images/BG-INICIO.jpg" class="imagen-de-fondo" alt="" />

<section class="formulario">
    <div class="form-interno">
        <h1>Contactanos</h1>
        <div class="titulo row">
            <div class="col-12">
                <form [formGroup]="formularioMensaje" (ngSubmit)="enviarMensaje(formularioMensaje.value)">
                    <div class="col-12">
                        <div class="form-group">
                            <input formControlName="nombre" type="text" class="form-control" id="text"
                                placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input formControlName="correoElectronico" type="email" class="form-control" id="email"
                                placeholder="Correo">
                        </div>
                        <div class="form-group">
                            <textarea formControlName="mensaje" class="form-control" id="exampleFormControlTextarea1"
                                rows="3" placeholder="¿En que te podemos ayudar?"></textarea>
                        </div>
                        <div class="row">
                            <div class="boton col-12">
                                <button type="submit" class="btn btn-light">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
