.titulo,
h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
}

.formulario {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
textarea {
    padding: 20px;
    background: rgba(10, 10, 10, 0.385);
    border: solid 1px white;
    width: 400px;
    color: white;
}

::placeholder {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.boton,
button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
}