<div class="bg-dark-gradient text-light">
  <div class="container d-flex justify-content-between align-items-center py-5">
    <div>
      <a *ngIf="usuario" class="btn btn-link mb-1 mr-0 mb-md-0 mr-md-1" routerLink="/canciones" routerLinkActive="active">Mis Canciones</a>
      <a *ngIf="usuario" class="btn btn-link mb-1 mr-0 mb-md-0 mr-md-1" routerLink="/reproductor" routerLinkActive="active">Reproductor</a>
      <a class="btn btn-link mb-1 mb-md-0" routerLink="/contacto" routerLinkActive="active">Contactanos</a>
    </div>
    <a class="navbar-brand d-flex align-items-center my-2" routerLink="/">
      <img src="assets/images/LOGO.svg" alt="" class="logo mr-1" />
    </a>
  </div>
</div>
